*.user
*.filters
*.log
/.vs
/Debug
/Release
/Win32
/x64
/ARM64
/packages
/_ReSharper.Caches

/SetNetworkCategory/Win32
/SetNetworkCategory/x64
/SetNetworkCategory/ARM64

/PrintConnectionProfiles/Win32
/PrintConnectionProfiles/x64
/PrintConnectionProfiles/ARM64

/MultipathLatencyAnalyzer/Win32
/MultipathLatencyAnalyzer/x64
/MultipathLatencyAnalyzer/ARM64

/FirewallAudit/packages
/FirewallAudit/x64
/FirewallAudit/Win32
/FirewallAudit/ARM64
/FirewallAudit/Debug
/FirewallAudit/Release
/FirewallAudit/*.csv
/FirewallAudit/.vs

/EnumerateConnections/x64
/EnumerateConnections/Win32
/EnumerateConnections/ARM64