*.user
*.filters
*.log
/mappings.txt
/.vs
/packages
/Win32
/x64
/ARM64
/Debug
/Release

/SetNetworkCategory/.vs
/SetNetworkCategory/packages
/SetNetworkCategory/Win32
/SetNetworkCategory/x64
/SetNetworkCategory/ARM64

/PrintConnectionProfiles/.vs
/PrintConnectionProfiles/packages
/PrintConnectionProfiles/Win32
/PrintConnectionProfiles/x64
/PrintConnectionProfiles/ARM64

/MultipathLatencyAnalyzer/.vs
/MultipathLatencyAnalyzer/packages
/MultipathLatencyAnalyzer/Win32
/MultipathLatencyAnalyzer/x64
/MultipathLatencyAnalyzer/ARM64

/MigrateIpProperties/.vs
/MigrateIpProperties/packages
/MigrateIpProperties/ARM64
/MigrateIpProperties/Debug
/MigrateIpProperties/Release
/MigrateIpProperties/x64

/FwDiagnose/.vs
/FwDiagnose/packages
/FwDiagnose/ARM64
/FwDiagnose/Debug
/FwDiagnose/Release
/FwDiagnose/x64
/FwDiagnose/FwDiagnose/x64/Debug
