*.user
*.filters
*.log
/.vs
/Debug
/Release
/x64
/ARM64

/SetNetworkCategory/Debug
/SetNetworkCategory/Release
/SetNetworkCategory/x64
/SetNetworkCategory/ARM64

/PrintConnectionProfiles/Debug
/PrintConnectionProfiles/Release
/PrintConnectionProfiles/x64
/PrintConnectionProfiles/ARM64

/MultipathLatencyAnalyzer/x64
/MultipathLatencyAnalyzer/Debug
/MultipathLatencyAnalyzer/Release